@page
@model TorneoDeFutbol.App.Frontend.Pages.Desempeños.DetailsModel
@{
}
<div class="card mb-2">Detalles del Estadio</div>
<table class="table table-striped table-dark">

    @*th scope="col">Equipo</th>*@
    <tr>
        <th scope="col">Numero de Partidos</th>
        <td>@Model.desempeño.NumeroPartidos</td>
    </tr>
    <tr>
        <th scope="col">Partidos Ganados</th>
        <td>@Model.desempeño.PartidosGanados</td>
    </tr>
    <tr>
        <th scope="col">Partidos Empatados</th>
        <td>@Model.desempeño.PartidosEmpatados</td>
    </tr>
    <tr>
        <th scope="col">Goles a Favor</th>
        <td>@Model.desempeño.GolesAfavor</td>
    </tr>
    <tr>
        <th scope="col">Goles en Contra</th>
        <td>@Model.desempeño.GolesEncontra</td>
    </tr>
    <tr>
        <th scope="col">Puntos</th>
        <td>@Model.desempeño.Puntos</td>
    </tr>

</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>