@page
@model TorneoDeFutbol.App.Frontend.Pages.DirectoresTecnicos.IndexModel
@{
}
<div class="card mb-4 shadow bg-body rounded">
    <div class="card-body text-primary fs-1 ">Listado de directores técnicos</div>
</div>
<div class="card-body">
<a class="btn btn-primary" asp-page="./Create">Nuevo director tecnico</a>   
<table class="table table-bordered">
    <thead >
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Número de teléfono</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var directorTecnico in Model.directoresTecnicos){
            <tr>
                <th>@directorTecnico.Nombre</th>
                <td>@directorTecnico.Documento</td>
                <td>@directorTecnico.NumeroTelefono</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@directorTecnico.Id">Detalle</a>
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@directorTecnico.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>