@page
@using TorneoDeFutbol.App.Dominio
@model TorneoDeFutbol.App.Frontend.Pages.DirectoresTecnicos.IndexModel
@{
}
<div class="card mb-4 shadow bg-body rounded">
    <div class="card-body text-primary fs-1 ">Listado de directores técnicos</div>
</div>
<form method="get">
    <div class="form-group mb-2">
        <label for="b">Buscar</label>
        <input name="b" id="b" class="form-control" asp-for="@Model.bActual">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Buscar</button>
</form>
<div class="card-body">
<a class="btn btn-primary mb-2" asp-page="./Create">Nuevo director tecnico</a>   
<table class="table table-bordered">
    <thead >
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Número de teléfono</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var directorTecnico in Model.directoresTecnicos){
            <tr>
                <th>@directorTecnico.Nombre</th>
                <td>@directorTecnico.Documento</td>
                <td>@directorTecnico.NumeroTelefono</td>
                <td class="d-flex justify-content-around">
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@directorTecnico.Id">Detalle</a>
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@directorTecnico.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>