@page
@model TorneoDeFutbol.App.Frontend.Pages.Arbitros.IndexModel
@{
}
<h1>Lista De Arbitros</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">NOMBRE</th>
      <th scope="col">DOCUMENTO</th>
      <th scope="col">TELEFONO</th>
      <th scope="col">COLEGIO</th>
      <th scope="col">PARTIDO</th>
      <th scope="col">ACCIONES</th>
     
    </tr>
  </thead>
  <tbody>
        <!--
      @foreach (var arbitro in Model.arbitros)
      {
           <tr>
                <th>@arbitro.Nombre</th>
                <th>@arbitro.Documento</th>
                <th>@arbitro.Telefono</th>
                <th>@arbitro.Colegio</th>
                <th>@arbitro.Partido</th>
		            <td>
                  <a class="btn btn-primary" asp-page="./Details" asp-rout-id="@arbitro.Id">Detalle</a>
                </td>
               
           </tr>
      }-->
    
  </tbody>
</table>