@page
@model TorneoDeFutbol.App.Frontend.Pages.Partidos.IndexModel
@{
}
<div class="card mb-4 shadow bg-body rounded">
    <div class="card-body text-primary fs-1 ">Listados de Partidos</div>
</div>
<div class="card-body">

<table class="table table-bordered">
  <thead >
    <tr>
      <th scope="col">Fecha Hora</th>
      <th scope="col">Equipo Local</th>
      <th scope="col">Marcador Inicial Equipo Local</th>
      <th scope="col">Equipo Visitante</th>
      <th scope="col">Marcador Inicial Equipo Visitante</th>
       <th scope="col">Acciones</th>

    </tr>
  </thead>
  <tbody>
    @foreach (var partido in Model.partidos)
    {
        <tr>
            <th>@partido.FechaHora</th>
            <td>@partido.Equipo_Local</td>
            <td>@partido.Marcador_Inicial_Equipo_Local</td>
            <td>@partido.Equipo_Visitante</td>
            <td>@partido.Marcador_Inicial_Equipo_Visitante</td>
             <td class="d-flex justify-content-around">

              <a class="btn btn-primary" asp-page="./Details" asp-route-id="@partido.Id">Detalle</a>
              <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@partido.Id">Editar</a>
              <td>

        
        </tr>
    }
    <tbody>
</table>
<a class="btn btn-primary" asp-page="./create">Nuevo Partido</a>
</div>