@page
@model TorneoDeFutbol.App.Frontend.Pages.Novedades.IndexModel
@{
}

<div class="card mb-4 shadow bg-body rounded">
    <div class="card-body text-primary fs-1 ">Novedades</div>
</div>

<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr><td>Tarjeta amarilla</td>
            <td>Tarjeta roja</td>
            <td>Goles</td>
            <td>Novedad descripción</td>
            <td>Tiempo</td>
            <td>Juagdor</td></tr>
        </thead>
        <tbody>
            @foreach(var novedad in Model.novedad){
                <tr>
                    <td>@novedad.YellowCards</td>
                    <td>@novedad.RedCards</td>
                    <td>@novedad.goles</td>
                    <td>@novedad.NombreNovedad</td>
                    <td>@novedad.Minuto</td>
                    <td>@novedad.Jugador</td>
                </tr>
            }

        </tbody>

    </table>
    
</div>

