@page
@model TorneoDeFutbol.App.Frontend.Pages.Arbitros.DetailsModel
@{
}
<h1>Detalle De Arbitro</h1>
<table class="table table-dark">
      
    <tr>
      <th scope="col">Nombre</th>
       <td>@Model.arbitro.Nombre</td>
    </tr>

    <tr>  
      <th scope="col">Documento</th>
       <td>@Model.arbitro.Documento</td>
    </tr>

    <tr>
      <th scope="col">Telefono</th>
       <td>@Model.arbitro.Telefono</td>
    </tr>
    
    <tr>
      <th scope="col">Colegio</th>
       <td>@Model.arbitro.Colegio</td>
    </tr>

    <tr>
      <th scope="col">Partido</th>
       <td>@Model.arbitro.Partido</td>
     
    </tr>
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>
