@page
@model TorneoDeFutbol.App.Frontend.Pages.Arbitros.IndexModel
@{
}
<form method="get">
    <div class="form-group">
        <label for="b">Buscar</label>
        <input name="b" id="b" asp-for="@Model.bActual" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<div class="card mb-4 shadow bg-body rounded">
<div class="card-body text-primary fs-1 ">Lista de arbitros</div>
</div>
<div class="card-body">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Documento</th>
      <th scope="col">Telefono</th>
      <th scope="col">Colegio</th>
      <th scope="col">Acciones</th>
     
    </tr>
  </thead>
  <tbody>
        
      @foreach (var arbitro in Model.arbitros)
      {
           <tr>
                <th>@arbitro.Nombre</th>
                <th>@arbitro.Documento</th>
                <th>@arbitro.Telefono</th>
                <th>@arbitro.Colegio</th>
		            <td>
                  <a class="btn btn-primary" asp-page="./Details" asp-route-id="@arbitro.Id">Detalle</a>
                  <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@arbitro.Id">Modificar</a>
                </td>
               
           </tr>
      }
    
  </tbody>
</table>
<a class="btn btn-primary" asp-page="./Create">Nuevo arbitro</a>
</div>