@page
@model TorneoDeFutbol.App.Frontend.Pages.Equipos.DetailsModel
@{
}
<h1>Detalles del equipo</h1>
<table class="table table-dark">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.equipo.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Director Tecnico</th>
        @if(Model.equipo.DirectorTecnico == null)
        {
            <td>
                <a class="btn btn-primary" asp-page="./AddDirectorTecnico" asp-route-id="@Model.equipo.Id">Asignar Director tecnico</a>
            </td>            
        }else {
                <td>@Model.equipo.DirectorTecnicoId</td>
        }  
    </tr>
    <tr>
        <th scope="col">Municipio</th>
        @if (Model.equipo.Municipio == null)
        {
            <td>
                <a class="btn btn-primary" asp-page="./AddMunicipio" asp-route-id="@Model.equipo.Id">Asignar Municipio</a>
            </td>
        }else{
                <td>@Model.equipo.MunicipioId</td>
        }        
    </tr> 
    </table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>
