@page
@model TorneoDeFutbol.App.Frontend.Pages.Equipos.IndexModel
@{
}
<h1>Listado Equipos</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">DirectorTecnico_id</th>
            <th scope="col">Municipio_id</th>
            <th scope="col">Jugadores</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipo in Model.equipos){
            <tr>
                <th>@equipo.Nombre</th>
                <td>@equipo.DirectorTecnico_id</td>
                <td>@equipo.Municipio_id</td>
                <td>@equipo.Jugadores</td>
                <td><a class="btn btn-primary" asp-page="./Details" asp-rout-id="@equipo.Id">Detalle</a></td>
            </tr>
        }
    </tbody>
</table>