@page
@model TorneoDeFutbol.App.Frontend.Pages.Equipos.IndexModel
@{
}
<div class="card mb-4 shadow bg-body rounded">
    <div class="card-body text-primary fs-1 ">Listado Equipos</div>
</div>
<form method="get">
    <div class="form-group">
        <label for="b">Buscar</label>
        <input name="b" id="b" class="form-control" asp-for="@Model.bActual">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<div class="card-body">
<a class="btn btn-primary" asp-page="./Create">Nuevo equipo</a>
<table class="table table-bordered">
    <thead >
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Director Tecnico</th>
            <th scope="col">Municipio</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipo in Model.equipos){
            <tr>
                <th>@equipo.Nombre</th>
                <td>@equipo.DirectorTecnico.Nombre</td>
                <td>@equipo.Municipio.Nombre</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@equipo.Id">Detalles</a>
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@equipo.Id">Editar</a>
                
                </td>
            </tr>
        }
    </tbody>
</table>
</div>